.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

section {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  font-family: 'Palanquin', sans-serif;
}

/* Hide */
.container-1 {
  margin-left: 15em;
  margin-top: 10%;
}

.underline {
  font-size: 1.3em;
}

.clearfix {
  list-style:none;
}

/* Hide */
p {
  margin-bottom: 0;
  font-size: 14px;

}

.main-timeline-section{
  position: relative;
  width: 100%;
  margin:auto;
  height:300px;
}

.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end{
  position: absolute;
  background: #000;
  border: 3px solid #FFF;
  border-radius:100px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
  z-index: 10;
}

.main-timeline-section .timeline-end{
  right:0px;
}

.main-timeline-section .conference-center-line{
  position: absolute;
  width:100%;
  height:5px;
  top:50%;
  transform: translateY(-50%);
  background: #000;
}

.timeline-article{
    width: 20%;
    position: relative;
    min-height: 300px;
    float:right;
}

.timeline-article .content-date {
    position: absolute;
    top: 35%;
    left: -30px;
    font-size:18px;
}

.timeline-article .meta-date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width:20px;
    height:20px;
    border-radius: 100%;
    background: #000;
    border:3px solid #FFF;
}

.timeline-article .content-box {
/*   box-shadow: 2px 2px 4px 0px #888; */
  border: 3px solid rgba(56,165,169, 0.5);
  border-radius: 5px;
  background: none;
  width: 180px;
  position: absolute;
  top: 60%;
  left: -80px;
  padding:10px;
  color: #1F1F1F;
  text-align: center;
}

.timeline-article-top .content-box:before {
  content: " ";
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  top:-20px;
  border:10px solid transparent;
  border-bottom-color: rgba(56,165,169, 0.5);
}

.timeline-article-bottom .content-date {
  top: 59%;
}

.timeline-article-bottom .content-box {
  top: 15%;
}

.timeline-article-bottom .content-box:before {
  content: " ";
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:-20px;
  border:10px solid transparent;
  border-top-color: rgba(56,165,169, 0.5);
}

.panel > .panel-heading {
    background-color: black;
    font-size: 20px;
}

.interface {
  color: black;
  font-size: 20px;
}

.panel-transparent {
  background: none;
}

#success-message {
  opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 35% 0 35%;
}

.margin-top-25 {
  margin-top: 25px;
}

.progress-bar-success {
    background-color: rgb(41, 97, 100);
    font-size: 2rem;
    color: rgba(211,211,211, 0.8);

}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius:0;
  border-color: rgba(56,165,169, 0.8);
	background-color: transparent;
}

.form-group .form-control:focus {
	box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: rgba(56,165,169, 1);
	color: rgba(211,211,211, 0.8);
}

textarea {
  resize: none;
}

.form-control {
    color: rgba(211,211,211, 0.8);
}
.btr-input {
    text-align: center;
    background: none;
    border: none;
    font-size: 17px;
    width: 100%;
}


::placeholder {
	color: rgba(211,211,211, 0.4);
  opacity: 0.5;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
    color: #000000;
    border: 1px solid #000000;
    background: transparent;
}

.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
    color: #fff;
    border-color: #000;
    background: #000;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
       padding: 6px 16px;
       font-size: 11px;
    }
}

body {
  padding-top: 40px;
  padding-bottom: 120px;
	font-size: 14px;
	line-height: 1.67;
	padding: 60px 0;
	background-color: #eee;
}

nav {
	text-align: right;
  color: blue;
}

#left-side {
  float: left;
  line-height: 40px;
  margin: 0;
  color: white;
}

#cssmenu {
       position:fixed;
       top: 0;
       margin:auto;
       left: 0;
       right: 0;
       width: 100%;
    	z-index: 1000;
    	background-color: rgb(26,28,29);
			font-size: 25px;
			padding: 5px 20px;
			display: inline;
      border-bottom-style: solid;
      border-bottom-color: rgba(56,165,169, 0.5);
			}

#button-container, #social-icons {
	   display:inline;
}

#menu {
	text-align: right;
}

.btn-outline-main {
	color: rgba(56,165,169, 0.5);
	background-color: transparent;
	border-color: rgba(56,165,169, 0.5);
	padding: 50px 50px;
  border-width: 2px;
	font-family: 'Palanquin', sans-serif;
	text-transform: uppercase;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
  font-weight: bold;
  font-size: 1.3rem;
}

.big-button {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.8;
  border-radius: 2rem;
  color: rgba(211,211,211, 0.8);
	background-color: transparent;
	border-color: rgba(56,165,169, 0.5);
	padding: 5px 60px;
  border-width: 4px;
	font-family: 'Palanquin', sans-serif;
  text-transform: uppercase;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
  font-weight: bold;
}

.big-button:hover {
  border-color: rgba(211,211,211, 0.8);
}

.btn {
    display: inline-block;
    padding: .275rem 1.3rem;
    line-height: 1.8;
    border-radius: 3rem;
}

.btn:hover {
  color: rgba(211,211,211, 0.8);
  border-color: rgba(211,211,211, 0.8);
}

#social-icons {
	padding: 0px 35px;

}

/*  Team Starts */
.team-members {
	transform: rotate(-45deg);
}

.team-members li > div {
	float: left;
	width: 20%;
}

.team-members li:nth-child(2) > div:first-child {
	margin-left: 20%;
}

.team-members li:last-child > div:first-child {
	margin-left: 40%;
}

.member-details > div {
	background-color: #ddd;
	margin: 5px;
}

.member-details img {
	transform: rotate(45deg) translate(0, 15px) scale(1.2);
	display: block;
	width: 100%;
	height: 100%;
}

/* hover content - style */
.member-details > div {
	position: relative;
	overflow: hidden;
}

.member-info {
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translate(-12px, 15px);
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
}

.member-info h3,
.member-info p {
	margin: 0;
	color: #fff;
	position: relative;
	opacity: 0;
	visibility: hidden;
}

.member-info h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	top: -100px;
}

.member-info p {
	font-weight: 300;
	font-size: 12px;
	bottom: -150px;
}

.member-details > div:after {
	content: '';
	background-image: linear-gradient(45deg, rgba(56,165,169, 0.5) 40%, transparent 50%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

/* hover content - onhover */
.member-details *,
.member-details > div:after {
	cursor: pointer;
	transition: all .4s ease;
}

.member-details:hover *,
.member-details:hover > div:after {
	opacity: 1;
	visibility: visible;
}

.member-details:hover .member-info h3 {
	top: 0;
}

.member-details:hover .member-info p {
	bottom: 0;
}

/* Team overview */
.team-overview {
	padding-right: 15px;
}
.team-overview h2 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.team-overview > a {
	margin-bottom: 30px;
	display: block;
}

.team-overview > a:before {
	content: '';
	width: 10px;
	height: 2px;
	position: relative;
	top: -3px;
	margin-right: 5px;
	background-color: #ccc;
	display: inline-block;
}

/* For centering elements - optional - Can use table,tablecell instead */
.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-center > div:first-child {
	order: 2;
}

#section1-background{
background:url("../img/a/better-01.jpg");
background-repeat:no-repeat;
background-size:100% 100vh;
background-size: cover;
}

#section2-background, #section3-background,#section4-background, #section5-background, #section6-background,#section7-background, #section8-background, #section9-background  {
background:url("../img/a/background.jpg");
background-repeat:no-repeat;
background-size:100% 100vh;
background-size: cover;
}

body * {
	font-family: 'Palanquin', sans-serif;
	box-sizing: border-box;
}

.countdowntimewrap {
	  margin: 50px auto 10px;
}

#countdown-wrap {
  width: 100%;
  height: 300px;
  //border: 1px solid black;
  padding: 20px;
  max-width: 650px;
  margin: 10px auto 10px;
}

#goal {
  font-size: 20px;
  text-align: right;
  color: rgba(211,211,211, 0.8);
  padding-top: 3rem;
  @media only screen and (max-width : 640px) {
  }

}

#glass {
  width: 100%;
  height: 50px;
  background: #c7c7c7;
  border-radius: 50px;
  float: left;
  overflow: hidden;
}

#progress {
  float: left;
  width: 16%;
  height: 20px;
  z-index: 333;
  //border-radius: 5px;
}

.goal-stat {
  width: 25%;
	font-size: 15px;
  //height: 1px;
  padding: 1px;
  float: left;
  margin: 0;
  color: #FFF;

  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}

/* RESPONSIVE */
@media only screen and (max-width : 992px) {
	.sm-no-flex {
		display: block;
	}
	.sm-no-float {
		float: none !important;
	}
	.sm-text-center {
		text-align: center;
	}
}

@media only screen and (max-width : 550px) {
	.team-members li {
		text-align: center;
	}
	.team-members li > div {
		float: none;
		display: inline-block;
		width: 30%;
		margin: 0 !important;
	}
	.team-members {
		transform: rotate(0);
	}
	.member-details img {
		transform: rotate(0) translate(0, 0);
	}
	.team-overview {
		padding: 15px;
	}

}

@media only screen and (max-width : 399px) {
	.team-members li > div {
		width: 48%;
	}
}

.news-logo {
  display: inline-block;
  padding: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: rgba(211,211,211, 0.8);
}

h4 {
  color: rgba(211,211,211, 0.8);
}

.fa {
    color: rgba(56,165,169, 0.5);

}
.fa:hover {
	 color: rgba(211,211,211, 0.8);
   transition-duration: 0.6s;

}

#white {
  padding-bottom: 5rem;
  font-size: 4.5rem;
}

#app-intro {
  font-size: 2.5rem;
  padding-bottom: 5rem;
  padding-left: 25rem;
}

#laptop-intro {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
}

.imgContainer-mobile {
  position: absolute;
  padding-left: 30rem;
}
.donate-app {
  padding-left: 12rem;
}
.imgContainer {
  display: inline-block;
}

.imgContainer-2, .imgInterface {
  display: inline-block;
}

.imgInterface {
  margin: 1rem;
  cursor: pointer;
}

#interface-title {
  padding-bottom: 8rem;
  font-size: 2.5rem;
}

.block-2 {
  padding-left: 1rem;
}

.imgContainer-3 {
  display: inline-block;
  padding-left: 13rem;
}

#welcome  {
	font-weight: bold;
	font-size: 5rem;
}

.buy-better-token, .transfer-better-tokens {
  width: 525px;
  height: 625px;
  border: solid 12px #1a1c1d;
  outline: 1px solid rgba(211,211,211, 0.1);
  position: absolute;
  left: 37%;
  background: #1a1c1d;
  box-shadow: 10px 15px 10px rgba(0,0,0, 0.2);
  display: none;
}

.buy-better-token {
  box-sizing: border-box;
}


#interface-buy, #interface-transfer {
  padding: 5% 10% ;
  font-size: 3.5rem;
}

.text-block-eth, .text-block-address {
 font-size: 18px;
 border-bottom: solid 1px;
 padding-bottom: 5px;
}

.text-block-center {
 font-size: 18px;
 padding: 22px;
}

.square-1, .square-2, .square-transfer {
  padding-top: 1%;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  background-image: url("../img/a/kaire.png");
  background-size: cover;
  }

.address-label {
  padding-top: 1%;
  width: 360px;
  height: 100px;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  background-image: url("../img/a/kaire.png");
  background-size: cover;
  }

.address-label {
  margin: auto;
}

.square-1 {
  float: left;
  margin-left: 100px;
}

.square-2 {
  float: right;
  margin-right: 100px;
}

.square-transfer {
  margin: auto;
  margin-top: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
  background: none;
  padding: 10px;
  border-top: 1px solid rgba(211,211,211, 0.8);
}

.grid-container > div {
  text-align: auto;
  font-size: 14px;
}

.rectangle-home {
  display: inline-block;
}

.priceBtr {
  font-size: 18px;
}

 .proc {
  width: 60px;
  height: 30px;
  background: none;
  font-size: 15px;
  margin: 7px;
  border-radius: 0.3rem;
  border: 2px solid rgba(211,211,211, 0.8);
}

.proc:hover {
  color: white;
  border-color: white;
  transition-duration: 0.4s;
}

.proc-buy {
  width: 140px;
  height: 38px;
  margin: 25px;
  font-size: 22px;
  border-radius: 0.7rem;
}

.recent {
  font-size: 22px;
  padding-bottom: 12px;
  padding-top: 25px;
}

.rectransfer {
    padding-top: 5px;
  font-size: 22px;
}

#sum {
  box-sizing: border-box;
}

#fp-nav ul li a span {
  top: 70%;
  background: rgba(56,165,169, 0.5);
}

#fp-nav ul li .fp-tooltip {
  color: rgba(211,211,211, 0.8);
}
